body {
    background: initial;
}

.header__titulo {
    color: var(--color-primary);
}

.header__menu--pg2 i {
    color: var(--color-primary);
}

.investing,
.balance,
.spending {
    padding: 2rem;
}

.investing__title,
.balance__title,
.spending__title {
    text-transform: capitalize;
    color: var(--color-primary);
    font-size: 2.5rem;
}

.investing__etf,
.balance__etf,
.spending__etf {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 2rem;
}

.investing_img,
.balance_img,
.spending_img {
    padding: 3rem 2rem;
    flex: 1;
    background-color: #dbf2f6;
    background: radial-gradient(circle, rgba(219, 242, 246, 1) 0%);
    border-radius: 0 45% 45% 0;
}

.investing_img img,
.balance_img img,
.spending_img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.investing__content,
.balance__content,
.spending__content {
    padding: 2rem;
    flex: 1;
}

.investing__content h2,
.balance__content h2,
.spending__content h2 {
    font-size: 2rem;
    color: var(--color-primary);
}

.investing__content p,
.balance__content p,
.spending__content p {
    font-size: 1.4rem;
    color: var(--color-tertiary);
    padding-block: 1rem;
}

.investing__content a {
    --radius: 2re,
        color: var(--color-text);
    background: var(--color-secondary);
    padding: 1.3rem 2.5rem;
    border-radius: var(--radius);
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
}

.investing__etf i,
.balance__etf i,
.spending__etf i {
    position: absolute;
    color: var(--color-text);
    background: var(--color-secondary);
    font-size: 1.4rem;
    padding: 0.5rem;
    border-radius: 50%;
    top: 0.5rem;
    right: 0.5rem;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    overflow: hidden;
}

.cards h2 {
    font-size: 2rem;
    color: var(--color-primary);
    margin: 3rem 0 2rem;
    text-transform: capitalize;
}

.cards__container {
    display: flex;
    gap: 2rem;
    width: 800px;
    overflow-x: scroll;

}

.card {
    width: 30%;
    /* display: inline-block;
    margin-right: 2rem; */
}

.card img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card:last-child {
    opacity: 0.5;
}