@import url("normalize.css");
@import url("fonts.css");


:root {
    --mobile: 430px;
    /* --desktop: 1500px; */

    --color-primary: #33404F;
    --color-secondary: #00DDA3;
    --color-tertiary: #B5C5C3;
    --color-text: #fff;
    /* --color-optional: #fffe91;
    --color-bg-body: #ececec;
    --color-bg-card: #fff;
    --color-titles: #000;
    -
    --color-subtitles: #000; */

    /* --color-bg-user: linear-gradient(94deg, rgba(135,216,249,1) 0%, rgba(174,247,174,1) 39%, rgba(255,254,145,1) 73%); */
    --font-primary: "SF-Pro-Text-Regular";
    --radius: 6px;
    --shadow: box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-primary);
    font-size: 62.5%;
}

body {
    background: var(--color-primary) url("../storage/img/banner.svg") top / cover no-repeat;
}

.header,
.main__title,
.operation,
.footer {
    padding: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    /* height: 6rem; */
    align-items: center;
    color: var(--color-text);
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__icono {
    width: 4rem;
}

.header__icono img {
    width: 100%;
}

.header__titulo {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
}

.header__menu i {
    font-size: 3rem;
}

.titulo__card {
    height: 120px;
}

.titulo__card h2,
.titulo__card p {
    font-size: 3.68rem;
    color: var(--color-text);
    text-transform: capitalize;
}

.titulo__card h2 {
    margin-bottom: 2rem;
    font-family: "SF-Pro-Text-Heavy";
}

.titulo__card p {
    font-family: "SF-Pro-Text-Light";
}

.titulo__balance {
    color: var(--color-text);
    display: flex;
    /* height: 130px; */
    justify-content: space-between;
    align-items: center;
}

.balance,
.balance {
    display: flex;
    flex-direction: column;
}

.balance__title,
.balance__title+label {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: "SF-Pro-Text-Medium";
}

.balance__progress {
    font-size: 1.5rem;
}

.balance label {
    font-family: "SF-Pro-Text-Bold";
    font-size: 2.5rem;
    margin-top: 0.7rem;
}

.balance label span {
    font-size: 1.6rem;
}


.balance--one progress[value] {
    --color: var(--color-secondary);
    --background: var(--color-secondary);
    background: var(--color-tertiary);
}

.balance--two progress[value] {
    --color: var(--color-tertiary);
    --background: var(--color-secondary);
    background: var(--color-tertiary);
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin: 1rem 0;
    height: .5em;
    border-radius: 10em;
}

.balance--one progress[value]::-webkit-progress-bar,
.balance--two progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    height: .5em;
    background: var(--color-text);
}

progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
}

progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: var(--color);
}


.operation {
    --radius : 4rem;
    background-color: var(--color-text);
    border-radius: var(--radius) var(--radius) 0 0;
    padding-block: 3rem;
}

/* .activities {
    height: 16rem;

} */

.activities__title,
.transactions__title {
    text-transform: capitalize;
    color: var(--color-primary);
    font-size: 2.5rem;
}

.activities__carrousel {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 2rem;
    padding-block: 2rem;
    overflow-x: scroll;
    /* overflow: hidden; */

}

.carrousel__card {
    --radius : 2.5rem;
    display: block;
    background-color: var(--color-text);
    padding: 3rem 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: var(--radius);
    text-decoration: none;
    text-align: center;
    font-size: 1.6rem;
    color: var(--color-primary);
    min-width: 10rem;
}

.card__img {
    width: 80%;
    margin: 0 auto;
}

.card__img img {
    width: 100%;
}

.transactions {
    margin-top: 3rem;
}

.transaction {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.transaction__icon {
    background-color: #00DDA3;
    font-size: 1.8rem;
    padding: 1.5rem;
    border-radius: 50%;
}
/* 
.transaction__icon {
    flex: 1;
}
*/

.transaction__content {
    flex: 1;
} 
.transaction__title,
.transaction__date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

.transaction__title {
    font-size: 1.6rem;
    color: var(--color-primary);
}

.transaction__date {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: var(--color-tertiary);
}

















.footer {
    width: 100%;
    background: var(--color-primary);
    position: fixed;
    bottom: 0;

}

.footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul li {
    list-style: none;
}

.footer ul li a img {
    width: 4rem;
}

.footer ul a:hover {
    filter: invert(46%) sepia(95%) saturate(5580%) hue-rotate(155deg) brightness(106%) contrast(95%);
}